<footer class="footer">
	<div class="container-fluid padding">
		<div class="row text-center">
			<div class="col-md-4">

			</div>

			<div class="col-md-4">
				<hr class="light">
				<h5>Details</h5>
				<hr class="light">
				<p>Grant Shiels</p>
				<p>1804748@rgu.ac.uk</p>
			</div>

			<div class="col-md-4">
				
			</div>
		</div>	
	</div>
</footer>