<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('segments/header.ejs') %>

</head>

<body>

    <!-- Top Nav Bar -->
<!-- Top Nav Bar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img class="nav-logo" src="../../img/pokeball-logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pokedex">Pokedex</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/game/battle">Battle</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/login">Login</a>
                </li>
            </ul>
        </div>
    </div>
    </nav>


<div class="container-fluid padding">
    <div class="row padding">

        <h5 id="user-name" class="trainer-name"><%= username %></h5>

         <!-- Chat Collumn-->
        <div class="chat-wrapper">
            <ul id="events">
            </ul>
        
            <div class="button-wrapper">
                
                <div class="chat-form-container">
                    <form id="chat-form">
                        <input id="chat">
                        <button id="Send" class="btn btn-primary btn-lg"><i class="fas fa-paper-plane"></i>Send</button>
                    </form>
                </div>

                <div class="poke-button-wrapper">
                    <button id="Grass" class="btn btn-primary btn-lg">Bulbasaur</button>
                    <button id="Water" class="btn btn-primary btn-lg">Mudkip</button>
                    <button id="Fire" class="btn btn-primary btn-lg">Chimchar</button>
                </div>    
            </div>
        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="../scripts/client.js"></script>        
      </div>
      </div>

    </div>
</div>

<!--Player pokemon team-->
<div class="container-fluid padding">
    <div class="row text-center padding">


            <div class="battle-card card col-xs-12 col-sm-6 col-md-4" style="width: 18rem;">
                <img class="card-img-top" src="https://pokeres.bastionbot.org/images/pokemon/1.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title center">Bulbasaur</h5>
                </div>
                <ul class="list-group list-group-flush">
                  <li id="pokemon1" class="list-group-item">Grass</li>
                </ul>
            </div>




            <div class="battle-card card col-xs-12 col-sm-6 col-md-4" style="width: 18rem;">
                <img class="card-img-top" src="https://pokeres.bastionbot.org/images/pokemon/258.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title center">Mudkip</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li id="pokemon2" class="list-group-item">Water</li>
            </ul>
            </div>




            <div class="battle-card card col-sm-12 col-md-4" style="width: 18rem;">
                <img class="card-img-top" src="https://pokeres.bastionbot.org/images/pokemon/390.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title center">Chimchar</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li id="pokemon3" class="list-group-item">Fire</li>
            </ul>
            </div>



    </div>
</div>

 
  



<!-- Footer -->
<%- include('segments/footer.ejs') %>

</body>