<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('segments/header.ejs') %>
</head>
<body>

<!-- Top Nav Bar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img class="nav-logo" src="./img/pokeball-logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pokedex">Pokedex</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/game/battle">Battle</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/login">Login</a>
                </li>
            </ul>
        </div>
    </div>
    </nav>


<!--- Header Slide Show -->
<div id="slides" class="carousel slide" data-ride="carousel">

	<ul class="carousel-indicators ">
		<li data-targets="#slides" data-slide-to="0" class="active"></li>
	</ul>

	<div class="carousel-inner">

		<div class="carousel-item active ">
			<img src="./img/background.jpg">
			<div class="carousel-caption">
				<h1 class="display-2">Pokerumble</h1>
				<h3>Web Systems Project</h3>
				<p>Scroll down for info</p>
				<button type="button" class="btn btn-outline-light btn-lg"><a class="link-button" href="/pokedex">POKEDEX</a></button>
				<button type="button" class="btn btn-primary btn-lg"><a class="link-button" href="/game/battle">BATTLE</a></button>
			</div>
		</div>
	</div>
</div>


<!--- Info Banner -->
<div class="container-fluid">
	<div class="row jumbotron">
		<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
			<p class="lead">
				The original purpose of this web app was to create a turn-based Pokemon fighting game that can be found in the mainline Pokemon games created by game freak. However, as time went on the complexity of implementing every pokemon and all of their moves and then having the user select what moves they wanted would have been too extreme for a project of this scope. So I adapted the system I made to create a basic turn-based game between two users, where they both have a party of three Pokemon and the winner is determined based on the pokemon "type", sort of like rock paper scissors. Press the button on the right to have a shot. 
			 </p>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
			<a href="/game/battle"><button type="button" class="btn btn-outline-secondary btn-lg">Play Game</button></a>
		</div>
	</div>
</div>


<!-- Footer -->
<%- include('segments/footer.ejs') %>


</body>
</html>


