<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('segments/header.ejs') %>
    
    <!-- Script to fill in the pokemon info-->    
    <script type="text/javascript" src="scripts/browserify-scripts/pokedexFinal.js"></script>

</head>

<body onload="getPokedexKanto();">

    <!-- Top Nav Bar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img class="nav-logo" src="./img/pokeball-logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/pokedex">Pokedex</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/game/battle">Battle</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/login">Login</a>
                </li>
            </ul>
        </div>
    </div>
    </nav>


<!-- Holds all of the pokemon cards-->
<div class="container-fluid padding">
    <div class="row text-center padding center" id="poke-container">

    </div>


</div>

<!-- Footer -->
<%- include('segments/footer.ejs') %>


</body>
</html>


